:root {
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Abril Fatface', cursive;
}

*:focus {
  outline: 0 !important;
}

.intro {
  width: 100vw !important;
  height: 100vh;
}

.intro video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.texts {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.texts-intro {
  text-align: center;
}

.texts-intro > .text {
  color: white;
  margin: 0;
  line-height: 1;
  font-size: calc(
    calc(var(--min) * 1px) + calc(var(--max) - var(--min)) *
      ((100vw - 400px) / (1600 - 400))
  );
}
.kind {
  --min: 40;
  --max: 70;
}
.name {
  --min: 85;
  --max: 160;
  font-size: 85px;
}

section {
  height: 100vw;
  /* color: black; */
}

section h1 {
  /* padding-top: 300px; */
  text-align: center;
  font-size: 85px;
}
