:root {
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

*:focus {
  outline: 0 !important;
}

#pinContainer {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

section,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel {
  height: 100%;
  width: 100%;
  position: absolute;
}

#pinMaster {
  position: relative;
}

footer {
  height: 100px;
  background-color: black;
}

.intro {
  position: relative;
  height: 100vh;
  background-color: black;
}

.intro-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.texts {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
.quote-texts {
  color: #353333;
}

.title,
.subtitle {
  font-family: 'Abril Fatface', cursive;
}
.title,
.subtitle,
.text {
  margin: 0;
  line-height: 1;
  font-size: calc(
    calc(var(--min) * 1px) + calc(var(--max) - var(--min)) *
      ((100vw - 400px) / (1600 - 400))
  );
}
.subtitle {
  --min: 34;
  --max: 70;
}
.title {
  --min: 67;
  --max: 160;
}
.text {
  --min: 14;
  --max: 20;
  line-height: 1.24;
}

.section-raw {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.section-dark {
  background: black;
  padding-top: 100px;
}

.section-dark .subtitle {
  color: #fff;
}

.last-quote {
  display: block;
}

.section-video {
  border: 10px solid;
  background: black;
  margin-bottom: 20px;
  width: 100%;
}

.dark {
  background-color: #262626;
}
.turqoise {
  background-color: #fff;
}
.brown {
  background-color: #a66f28;
}
.bordeaux {
  background-color: #953543;
}

.main-nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 3em;
  z-index: 2;
}

.logo {
  width: 100px;
  height: auto;
}

.nav {
  display: flex;
}

.nav_link {
  position: relative;
  text-decoration: none;
  color: inherit;
  margin-right: 3em;
  font-weight: 700;
  color: #353333;
}

.nav_link:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.5em;
  width: 100%;
  height: 2px;
  background: currentColor;
  opacity: 0;
  transition: opacity 0.3s;
}

.nav_link:hover:after {
  opacity: 1;
}

.boceto-vectorial,
.boceto-sinusoidal,
.boceto-derivada {
  height: 100%;
  object-fit: contain;
}

.boceto-sinusoidal-fixed {
  width: 100%;
  height: auto;
  margin-bottom: 1em;
}
.boceto-derivada-fixed {
  width: 100%;
  max-width: 700px;
  height: auto;
  margin-bottom: 1em;
}

.btn {
  border: 1px solid;
  border-color: currentColor;
  font: inherit;
  font-family: 'Lato', sans-serif;
  padding: 0.7em 1.2em;
  border-radius: 2em;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}

.intro-btn {
  color: white;
  margin-top: 1.5em;
}

.intro-btn:hover {
  background-color: white;
  color: black;
  border-color: white;
}

.texts__vectorial,
.texts__sinusoidal,
.texts__derivada {
  color: black;
}
.texts__vectorial .subtitle {
  --max: 46;
}
.texts__vectorial .text,
.texts__sinusoidal .text,
.texts__derivada .text {
  font-family: 'Lato', sans-serif;
  margin-top: 2em;
}

.quote {
  max-width: 70vw;
  margin: 100px auto;
  text-align: center;
}
blockquote,
blockquote p {
  margin: 0;
}
blockquote p {
  margin-bottom: 0.4em;
}

blockquote::after {
  content: '“';
}
figcaption {
  font-family: 'Lato', sans-serif;
  font-size: 0.3em;
}

.ig {
  width: 34px;
  height: 34px;
}

.stop-motion-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.stop-motion-parent {
  position: relative;
  display: block;
  max-width: 915px;
  width: 100%;
  height: 686px;
  margin: 0 auto;
}

.stop-motion-parent:after {
  content: '';
  position: absolute;
  box-shadow: inset 0px 0px 30px 30px rgba(255, 255, 255, 1);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.stop-motion {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.embed-container {
  position: relative;

  height: 0;
  overflow: hidden;
  width: 600px;
  height: auto;
  aspect-ratio: 16 / 9;
  max-width: calc(100% - 40px);
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
