:root {
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

*:focus {
  outline: 0 !important;
}

/* 
.intro {
  width: 100vw !important;
  height: 100vh;
}

.intro video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.texts {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.texts-intro {
  text-align: center;
}

.texts-intro > .text {
  color: white;
  margin: 0;
  line-height: 1;
  font-size: calc(
    calc(var(--min) * 1px) + calc(var(--max) - var(--min)) *
      ((100vw - 400px) / (1600 - 400))
  );
}
.kind {
  --min: 40;
  --max: 70;
}
.name {
  --min: 85;
  --max: 160;
  font-size: 85px;
}

section {
  height: 100vw;
}

section h1 {
  text-align: center;
  font-size: 85px;
} */

#pinContainer {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

section,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel {
  height: 100%;
  width: 100%;
  position: absolute;
}

#pinMaster {
  position: relative;
}

footer {
  height: 100px;
  background-color: gray;
}

.intro {
  position: relative;
  height: 100vh;
  background-color: black;
}

.intro-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.texts {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  color: white;
}
.quote-texts {
  color: #353333;
}

.title,
.subtitle {
  margin: 0;
  line-height: 1;
  font-size: calc(
    calc(var(--min) * 1px) + calc(var(--max) - var(--min)) *
      ((100vw - 400px) / (1600 - 400))
  );
}
.subtitle {
  --min: 40;
  --max: 70;
}
.title {
  --min: 85;
  --max: 160;
  font-size: 85px;
}

.spacer {
  height: 100vh;
  background-color: #42a6e0;
}

.dark {
  background-color: #262626;
}
.turqoise {
  background-color: #fff;
}
.brown {
  background-color: #a66f28;
}
.bordeaux {
  background-color: #953543;
}

.main-nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 3em;
  z-index: 2;
}

.logo {
  width: 120px;
  height: auto;
}

.nav {
  display: flex;
}

.nav_link {
  position: relative;
  text-decoration: none;
  color: inherit;
  margin-right: 3em;
  font-weight: 700;
  color: #353333;
}

.nav_link:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.5em;
  width: 100%;
  height: 2px;
  background: currentColor;
  opacity: 0;
  transition: opacity 0.3s;
}

.nav_link:hover:after {
  opacity: 1;
}

.boceto-vectorial {
  height: 100%;
  object-fit: contain;
}

figcaption {
  font-family: 'Lato', sans-serif;
  font-size: 0.3em;
}
